

a:hover {
    background-color: orange;
    font-size: 18px;
    border-radius: 3px;
  }

 
a:link {
    color: black;
  }
  

a:visited {
color: black;
}
  
a:active {
    color: orange;
  } 


.img {
  transition: all .7s;
}

.img:hover {
    transform: scale(1.5)
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .headerimg img {
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
  }
  
  .welcometitle h2 {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease-out 1.2s forwards;
  }
  
  
  .headerflexcontainer p {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease-out 2s forwards;
  }
  

  