

a:hover {
    background-color: orange;
    font-size: 18px;
    border-radius: 3px;
  }

 
a:link {
    color: black;
  }
  

a:visited {
color: black;
}
  
a:active {
    color: orange;
  } 

  .ques {
    background-color: white;
    color: black;
    padding: 15px 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    margin: 10px 0;
    transition: background-color 0.3s ease;
  }

/* .ques {
    background-color: gainsboro;
    padding: 20px;
    display: none;  
    width: 900px;     
    height: auto;     
    border-radius: 10px;
  } */
    
/* h3:hover + div {
    display: block;
  } */

  h3:hover + div {
    display: block;
  }

.img {
  transition: all .7s;
}

.img:hover {
    transform: scale(1.5)
  }

